<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <!-- <div class="album-video-div">
      </div> -->
      <span class="featured-title">Cesty Snů _~^~_ Out Soon</span>

      <div class="album-18-player-img album-player-img">
      </div>
      <div class="web-sub-section-v2 web-sub-sect">
      </div>
      <a class="sndClickLink mt-2" href="https://highviberecords.fanlink.tv/CestySnu" target="_blank"
      rel="nofollow noreferer noopener">
       Pre save on Spotify
    </a>
    </div>
  </div>

</div>
