<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <!-- <div class="album-video-div">
      </div> -->
      <div class="album-18-player-img album-player-img">
      </div>
      <div class="web-sub-section-v2 web-sub-sect">
        <iframe class="album-iframe" style="border: 0; height: 241px;" src="https://bandcamp.com/EmbeddedPlayer/album=3899062507/size=large/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" seamless><a href="https://highviberecords.bandcamp.com/album/cesty-sn">Cesty Snů by Tylepathy &amp; Sanjay Soul</a></iframe>
      </div>
      <a class="sndClickLink mt-2" href="https://highviberecords.fanlink.tv/CestySnu" target="_blank"
        rel="nofollow noreferer noopener">
        {{otherPlatformsButtonText}}
      </a>
    </div>
  </div>

</div>