<div class="album-section">
  <div class="album-three-player-img album-player-img">
  </div>
  <div class="web-sub-section-v2 web-sub-sect">
    <iframe class="album-iframe" style="border: 0; height: 406px;" src="https://bandcamp.com/EmbeddedPlayer/album=369391426/size=large/bgcol=181a1b/linkcol=056cc4/artwork=none/transparent=true/" seamless>
      <a href="https://liquidbloom.bandcamp.com/album/tylepathy-remixes-one-with-nature">
        Tylepathy Remixes - One With Nature by Liquid Bloom, Tylepathy
      </a>
    </iframe>
  </div>
  <a class="sndClickLink" href="https://snd.click/DSTX131" target="_blank" rel="nofollow noreferer noopener">
    Listen on your favorite platforms </a>
</div>
