<div class="homepage">
  <!-- <div class="featured-release">
    <div class="album-section">
      <span class="featured-title">Featured Release</span>
      <div class="album-three-player-img album-player-img"></div>
      <div class="web-sub-section-v2 web-sub-sect">
        <iframe
          class="album-iframe"
          style="border: 0; height: 406px"
          src="https://bandcamp.com/EmbeddedPlayer/album=369391426/size=large/bgcol=181a1b/linkcol=056cc4/artwork=none/transparent=true/"
          seamless
        >
          <a
            href="https://liquidbloom.bandcamp.com/album/tylepathy-remixes-one-with-nature"
          >
            Tylepathy Remixes - One With Nature by Liquid Bloom, Tylepathy
          </a>
        </iframe>
      </div>
      <a
        class="sndClickLink"
        href="https://snd.click/DSTX131"
        target="_blank"
        rel="nofollow noreferer noopener"
      >
        Listen on other platforms
      </a>
    </div>
  </div> -->
  <div class="featured-release">
  <div class="album-section">
    <div class="mb-1" style="width:100%">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/0gmsKbuwxcnx55OVwcMUoa?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    <span class="featured-title">Featured Release</span>
    <div class="album-eight-player-img album-player-img">
    </div>
    <div class="web-sub-section-v2 web-sub-sect">
      <iframe class="album-iframe" style="border: 0; height: 472px;"
      src="https://bandcamp.com/EmbeddedPlayer/album=816159278/size=large/bgcol=262a2b/linkcol=4ec5ec/artwork=none/transparent=true/"
      seamless><a href="https://desertdwellersmusic.bandcamp.com/album/breath-portal-to-stillness">Breath: Portal to
        Stillness by Desert Dwellers</a></iframe>
    </div>
    <a class="sndClickLink" href="https://fanlink.to/breathportaltostillness" target="_blank" rel="nofollow noreferer noopener">
        {{ otherPlatformsButtonText }} </a>
  </div>
  </div>
  <div *ngIf="showSection" class="social-section container">
  <div class="facebook-feed">
    <iframe
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftylepathy.music&tabs=timeline&width=340&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
    class="facebook-feed"
    width="340"
    height="1000"
    style="border: none; overflow: hidden"
    scrolling="no"
    frameborder="0"
    allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
  ></iframe>
  </div>
</div>
</div>
