.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featured-release {
  text-align: center;
}

.social-section,
.featured-release {
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: initial;
}

.social-section {
  display: flex;
  justify-content: center;
}

// .facebook-feed{
//   padding-right: 15px;
// }
// .twitter-feed{
//   padding-left: 15px;
// }
// Customize this based on the featured release
// .sndClickLink {
//   background-color: #763b22;
// }

.back-to-top {
  position: sticky;
  bottom: 30px;
  left: 30px;
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 50px;  // Slightly increase size instead of using transform
    height: 50px;
    margin: -2.5px 0 0 -2.5px; // Offset the size increase to keep it centered
  }

  &.show {
    opacity: 1;
  }
}
