<div class="homepage" >
<div class="featured-release">

  <div class="album-section">
    <span class="featured-title">Featured Release</span>
    <div class="album-three-player-img album-player-img">
    </div>
    <div class="web-sub-section-v2 web-sub-sect">
      <iframe class="album-iframe" style="border: 0; height: 406px;" src="https://bandcamp.com/EmbeddedPlayer/album=369391426/size=large/bgcol=181a1b/linkcol=056cc4/artwork=none/transparent=true/" seamless>
        <a href="https://liquidbloom.bandcamp.com/album/tylepathy-remixes-one-with-nature">
          Tylepathy Remixes - One With Nature by Liquid Bloom, Tylepathy
        </a>
      </iframe>
    </div>
    <a class="sndClickLink" href="https://snd.click/DSTX131" target="_blank" rel="nofollow noreferer noopener">
      Listen on your favorite platforms </a>
  </div>

</div>
<!-- <div class="social-section container">
  <div class="facebook-feed">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftylepathy.music&tabs=timeline&width=340&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="1000" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
<div class="twitter-feed">
    <a class="twitter-timeline" data-height="1000" data-dnt="true" data-theme="dark" href="https://twitter.com/tylepathy?ref_src=twsrc%5Etfw">Tweets by tylepathy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div> -->

</div>
