<input id="toggle-nav-open-checkbox-v1-a" type="checkbox" class="input-v1-a" />
<label for="toggle-nav-open-checkbox-v1-a" class="label-v1-a web-port-sub-labels">
  <div class="logo-img-wrap">
    <img src="tylepathy/images/Liquid-Bloom-ReGen-Deep-Ambient-Remixes-FINAL.jpg"
      alt="ReGen Deep Ambient Remixes Artwork" class="logo-imgs" />
  </div>
</label>

<div class="web-sub-section-v1 web-sub-sect">
  <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1045380586&color=%23547c8c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  <div
    style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
    <a href="https://soundcloud.com/liquidbloom" title="Liquid Bloom" target="_blank"
      style="color: #cccccc; text-decoration: none;">Liquid Bloom</a> · <a
      href="https://soundcloud.com/liquidbloom/sets/regen-deep-ambient-remixes" title="ReGen Deep Ambient Remixes"
      target="_blank" style="color: #cccccc; text-decoration: none;">ReGen Deep Ambient Remixes</a>
    </div>
    <a href="https://snd.click/ReGen_Remixes" target="_blank" rel="nofollow noreferer noopener">
      Listen on your favorite platforms </a>
</div>
