<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <div class="album-video-div">
        <iframe class="album-video-iframe" width="560" height="315"
          src="https://www.youtube.com/embed/wz2DMxgkfKU?rel=0&color=1" title="YouTube video player" frameborder="1"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
      <div class="album-nine-player-img album-player-img">
      </div>
      <div class="web-sub-section-v2 web-sub-sect">
          <iframe class="album-iframe" style="border: 0; height: 340px;" src="https://bandcamp.com/EmbeddedPlayer/album=3754501145/size=large/bgcol=333333/linkcol=4ec5ec/artwork=none/track=4099485708/transparent=true/" seamless title="The Mycelium is Remixed by Liquid Bloom - Bandcamp Player"><a href="https://liquidbloom.bandcamp.com/album/the-mycelium-is-remixed">The Mycelium is Remixed by Liquid Bloom &amp; PERE, Featuring Paul Stamets</a></iframe>
      </div>
      <a class="sndClickLink" href="https://fanlink.tv/myceliumisremixed" target="_blank"
        rel="nofollow noreferer noopener">
        Listen on other platforms</a>
    </div>
  </div>

</div>
