<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <div class="album-video-div">
        <iframe class="album-video-iframe" width="560" height="315"
          src="https://www.youtube.com/embed/wz2DMxgkfKU?rel=0&color=1" title="YouTube video player" frameborder="1"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <a href="https://fanlink.to/myceliumisremixed" target="_blank" rel="nofollow noreferer noopener">
        <div class="album-nine-player-img album-player-img">
        </div>
      </a>
      <div class="web-sub-section-v2 web-sub-sect">
        <iframe class="album-iframe" style="border: 0; height: 340px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=1017392184/size=large/bgcol=333333/linkcol=0f91ff/artwork=none/transparent=true/"
          seamless><a href="https://desertdwellersmusic.bandcamp.com/album/the-mycelium-is-remixed">The Mycelium is
            Remixed by Liquid Bloom &amp; PERE, Featuring Paul Stamets</a></iframe>
      </div>
      <a class="sndClickLink" href="https://fanlink.to/myceliumisremixed" target="_blank"
        rel="nofollow noreferer noopener">
        Listen on other platforms</a>
    </div>
  </div>

</div>
