<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <!-- <div class="album-video-div">
      </div> -->
      <a href="https://fanlink.tv/FragranceRegenerated" target="_blank" rel="nofollow noreferer noopener">
        <div class="album-twelve-player-img album-player-img">
        </div>
      </a>
      <div class="web-sub-section-v2 web-sub-sect">
        <iframe class="album-iframe" style="border: 0; height: 120px;"
          src="https://bandcamp.com/EmbeddedPlayer/track=1573951458/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=none/transparent=true/"
          seamless><a href="https://tylepathy.bandcamp.com/track/lily-pad-lullaby-sweet-dreams-mix">Lily Pad Lullaby (Sweet
            Dreams Mix) by Tylepathy</a></iframe>
      </div>
      <!-- <a class="sndClickLink" href="https://fanlink.tv/FragranceRegenerated" target="_blank"
        rel="nofollow noreferer noopener">
        Listen on other platforms</a> -->
    </div>
  </div>

</div>
