<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <!-- <div class="album-video-div">
      </div> -->
      <div class="album-16-player-img album-player-img">
      </div>
      <div class="web-sub-section-v2 web-sub-sect d-flex flex-column">
        <iframe class="album-iframe" style="border: 0; height: 434px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=3900269053/size=large/bgcol=333333/linkcol=0f91ff/artwork=none/track=2402249804/transparent=true/"
          seamless title="Organic Intelligence Regenerated feat. Onanya by Liquid Bloom - Bandcamp Player"><a href="https://liquidbloom.bandcamp.com/album/organic-intelligence-regenerated-feat-onanya">Organic
            Intelligence Regenerated feat. Onanya by Liquid Bloom, Bloomurian, Onanya</a></iframe>
      </div>
      <a class="sndClickLink" href="https://snd.click/organicintelligenceregenerated" target="_blank"
        rel="nofollow noreferer noopener">
        {{ otherPlatformsButtonText }}
      </a>
    </div>
  </div>

</div>