<div class="music-page" >
  <div class="latest-release">
    <div class="album-section">
      <span  class="featured-title">Latest Release</span>

      <div class="album-six-player-img album-player-img">
      </div>
      <div class="web-sub-section-v2 web-sub-sect">
        <iframe class="album-iframe" style="border: 0; height: 510px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=1461049996/size=large/bgcol=181a1b/linkcol=056cc4/artwork=none/transparent=true/"
          seamless><a href="https://liquidbloom.bandcamp.com/album/afar-tylepathy-remixes">
            Afar (Tylepathy Remixes) by Liquid Bloom, PERE
          </a>
        </iframe> 
        </div>
          <a class="sndClickLink" href="https://fanlink.to/afartylepathy" target="_blank"
          rel="nofollow noreferer noopener">
        Listen on other platforms </a>
    </div>

  </div>

</div>
