<div class="album-section">
  <div class="album-video-div">
    <iframe class="album-video-iframe" width="560" height="315" src="https://www.youtube.com/embed/yKbaDKmtomw?rel=0&color=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="album-video-iframe" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLrz8hHdG8-5DtgVk0-0Yas2qx-j4epcnO&rel=0&color=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="album-one-player-img album-player-img">
  </div>
  <div class="web-sub-section-v1 web-sub-sect">
    <iframe class="album-iframe" style="border: 0; height: 439px;" src="https://bandcamp.com/EmbeddedPlayer/album=3543007942/size=large/bgcol=333333/linkcol=4ec5ec/artwork=none/transparent=true/" seamless><a href="https://liquidbloom.bandcamp.com/album/regen-deep-ambient-remixes">ReGen: Deep Ambient Remixes by Liquid Bloom</a></iframe>
  </div>
<a class="sndClickLink" href="https://snd.click/ReGen_Remixes" target="_blank" rel="nofollow noreferer noopener">
  {{ otherPlatformsButtonText }}
</a>
</div>
