<div class="album-section">
  <div class="album-one-player-img album-player-img">
  </div>
  <div class="web-sub-section-v1 web-sub-sect">
    <iframe class="album-iframe" style="border: 0; height: 439px;" src="https://bandcamp.com/EmbeddedPlayer/album=3543007942/size=large/bgcol=181a1b/linkcol=056cc4/artwork=none/transparent=true/" seamless>
      <a href="https://liquidbloom.bandcamp.com/album/regen-deep-ambient-remixes">ReGen: Deep Ambient Remixes by Liquid Bloom</a>
    </iframe>
  </div>
<a class="sndClickLink" href="https://snd.click/ReGen_Remixes" target="_blank" rel="nofollow noreferer noopener">
  Listen on your favorite platforms </a>
</div>
