<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <div class="album-video-div">
        <iframe width="560" height="315" class="album-video-iframe" src="https://www.youtube.com/embed/pjbfKDxbTKY?si=pqptWPTeLCZ1O0AN?rel=0&color=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="album-13-player-img album-player-img">
      </div>
      <div class="web-sub-section-v2 web-sub-sect">
        <iframe class="album-iframe" style="border: 0; height: 120px;"
          src="https://bandcamp.com/EmbeddedPlayer/track=2709724510/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=none/transparent=true/"
          seamless><a href="https://liquidbloom.bandcamp.com/track/ripples-through-time">Ripples Through Time by Liquid
            Bloom, Tylepathy, Divasonic</a></iframe>
      </div>
      <a class="sndClickLink" href="https://fanlink.tv/ripples_through_time" target="_blank"
      rel="nofollow noreferer noopener">
      {{ otherPlatformsButtonText }}
    </a>
    </div>
  </div>

</div>
