<div id="music-section">

  <div class="music-list-wrap flex-container">
    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{album18}} routerLinkActive="active" aria-label="View Ripples Through Time (Haquin Revibe) album">
        <div class="logo-img-album-18 logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>
    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{album17}} routerLinkActive="active" aria-label="View Cesty Snu album">
        <div class="logo-img-album-17 logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>
    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{album16}} routerLinkActive="active" aria-label="View Organic Intelligence Regenerated album">
        <div class="logo-img-album-16 logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>
    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{album15}} routerLinkActive="active" aria-label="View Eta Carinae (Reborn in a Nebula) album">
        <div class="logo-img-album-15 logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{album14}} routerLinkActive="active" aria-label="View Forest Guardians Remixed album">
        <div class="logo-img-album-14 logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{album13}} routerLinkActive="active" aria-label="View Ripples Through Time album">
        <div class="logo-img-album-13 logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumTwelve}} routerLinkActive="active" aria-label="View Lily Pad Lullaby (Sweet Dreams Mix) album">
        <div class="logo-img-album-twelve logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumEleven}} routerLinkActive="active" aria-label="View Fragrance Regenerated album">
        <div class="logo-img-album-eleven logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumTen}} routerLinkActive="active" aria-label="View Dreamstep Lovescape (Suspended Reverb Mix) album">
        <div class="logo-img-album-ten logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumNine}} routerLinkActive="active" aria-label="View The Mycelium is Remixed album">
        <div class="logo-img-album-nine logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumEight}} routerLinkActive="active" aria-label="View Breath: Portal to Stillness album">
        <div class="logo-img-album-eight logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumSeven}} routerLinkActive="active" aria-label="View Lily Pad Lullaby Symphony album">
        <div class="logo-img-album-seven logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumSix}} routerLinkActive="active" aria-label="View Afar (Tylepathy Remixes) album">
        <div class="logo-img-album-six logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumFive}} routerLinkActive="active" aria-label="View One Giant Consciousness album">
        <div class="logo-img-album-five logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumFour}} routerLinkActive="active" aria-label="View Dreamstep Lovescape album">
        <div class="logo-img-album-four logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumThree}} routerLinkActive="active" aria-label="View Tylepathy Remixes - One With Nature album">
        <div class="logo-img-album-three logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumTwo}} routerLinkActive="active" aria-label="View ReGen: Ambient Meditations album">
        <div class="logo-img-album-two logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumOne}} routerLinkActive="active" aria-label="View ReGen: Deep Ambient Remixes album">
        <div class="logo-img-album-one logo-imgs" aria-hidden="true">
        </div>
      </a>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
