<div id="section-portfolio">

  <div class="portfolio-client-list-wrap flex-container">

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink="album-eight" routerLinkActive="active">
              <div class="logo-img-album-eight logo-imgs">
        </div>
    </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink="album-seven" routerLinkActive="active">
              <div class="logo-img-album-seven logo-imgs">
        </div>
    </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink="album-six" routerLinkActive="active">
              <div class="logo-img-album-six logo-imgs">
        </div>
    </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink="album-five" routerLinkActive="active">
              <div class="logo-img-album-five logo-imgs">
        </div>
    </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink="album-four" routerLinkActive="active">
              <div class="logo-img-album-four logo-imgs">
        </div>
    </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink="album-three" routerLinkActive="active">
          <div class="logo-img-album-three logo-imgs">
        </div>
    </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink="album-two" routerLinkActive="active">
          <div class="logo-img-album-two logo-imgs">
        </div>
    </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink="album-one" routerLinkActive="active">
          <div class="logo-img-album-one logo-imgs">
        </div>
      </a>
    </div>

  </div>

</div>

<router-outlet></router-outlet>

