<div id="music-section">

  <div class="music-list-wrap flex-container">

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumEleven}} routerLinkActive="active">
        <div class="logo-img-album-eleven logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumTen}} routerLinkActive="active">
        <div class="logo-img-album-ten logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumNine}} routerLinkActive="active">
        <div class="logo-img-album-nine logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumEight}} routerLinkActive="active">
        <div class="logo-img-album-eight logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumSeven}} routerLinkActive="active">
        <div class="logo-img-album-seven logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumSix}} routerLinkActive="active">
        <div class="logo-img-album-six logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumFive}} routerLinkActive="active">
        <div class="logo-img-album-five logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumFour}} routerLinkActive="active">
        <div class="logo-img-album-four logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumThree}} routerLinkActive="active">
        <div class="logo-img-album-three logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumTwo}} routerLinkActive="active">
        <div class="logo-img-album-two logo-imgs">
        </div>
      </a>
    </div>

    <div class="web-subsect-col">
      <a class="logo-img-wrap" routerLink={{albumOne}} routerLinkActive="active">
        <div class="logo-img-album-one logo-imgs">
        </div>
      </a>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
