<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <div class="album-video-div">
        <iframe class="album-video-iframe" width="560" height="315"
          src="https://www.youtube.com/embed/UOR33XRprEg?rel=0&color=1" title="YouTube video player" frameborder="1"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="album-eight-player-img album-player-img">
      </div>
      <div class="web-sub-section-v2 web-sub-sect">
        <iframe class="album-iframe" style="border: 0; height: 472px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=816159278/size=large/bgcol=333333/linkcol=e99708/artwork=none/track=1033571818/transparent=true/"
          seamless><a href="https://desertdwellersmusic.bandcamp.com/album/breath-portal-to-stillness">Breath: Portal to
            Stillness by Desert Dwellers</a></iframe>
      </div>
      <a class="sndClickLink" href="https://fanlink.tv/breathportaltostillness" target="_blank"
        rel="nofollow noreferer noopener">
        {{otherPlatformsButtonText}}</a>
    </div>
  </div>

</div>