footer {
  margin-top: 50px;
  position: relative;
}
.footer-copyright {
  margin: {
    top: 50px;
    bottom: 7px;
  }
  text-align: center;
  font-size: 14px;
}

.social-icons {
  background: black;
  padding: 5px;
  border-radius: 5px;
}
