footer {
  margin-top: 50px;
  position: relative;
  background-color: #353a40;
  opacity: .9;
}

.footer-copyright {
  margin: {}

  text-align: center;
  font-size: 14px;
}

.social-icons {
  padding: 5px;
  border-radius: 5px;
}

.copyright-row {
  padding-bottom: 5px;
}

.copyright-row {
  font-weight: 400;
}

footer {
  background-color: #000000cc !important;
}
