<footer>
  <div class="footer-copyright">
    <div class="social-row-footer">
      <a href="mailto:tyler@digitalmetta.com">
        <img
          class="email-icon social-icons"
          src="assets/envelope-closed.svg"
          alt="email icon"
      /></a>

      <a
        href="https://www.linkedin.com/in/wtpelt/"
        rel="nofollow noopener noreferer"
        target="_blank"
      >
        <img
          class="social-logo-linkedin social-icons"
          src="assets/In-White-128px-TM.png"
          alt="Linkedin icon"
      /></a>

      <a
        href="https://github.com/wtpelt"
        rel="nofollow noopener noreferer"
        target="_blank"
      >
        <img class="social-icons" src="assets/github-icon.svg" alt="Github icon"
      /></a>
    </div>
    <hr />
    <div>
    Copyright &copy; {{ copyrightYear }} Digital Metta LLC.
  </div>
  </div>
  <div
    id="site-credits"
    style="display:none;text-align:center;margin-bottom: 15px;"
  >
    Website development led by William Tyler Pelt of
    <a
      href="https://digitalmetta.com/"
      target="_blank"
      rel="nofollow noreferer noopener"
      style="text-decoration:underline;"
      >Digital Metta LLC.</a
    >
  </div>
  <div>A web development and multi-media production company.</div>
</footer>
