<footer>
  <!-- <hr /> -->
  <div class="footer-copyright">
    <div class="social-row-footer">
      <a href="mailto:tylepathy@gmail.com">
        <img
          class="email-icon social-icons"
          src="assets/envelope-closed.svg"
          alt="email icon"
          title="Send an email to Tylepathy"
      /></a>
      <a href="https://open.spotify.com/artist/0gmsKbuwxcnx55OVwcMUoa?si=V72FnIunTL6i7gc1A5tQzA" target="_blank" rel="nofollow noreferer noopener">
        <img class="social-icons" src="assets/spotify-logo-white.png" alt="Spotify icon" title="Spotify - Tylepathy"/>
      </a>
      <a href="https://linktr.ee/tylepathy" target="_blank" rel="nofollow noreferer noopener">
        <img class="social-icons" src="assets/linktree-icon-white.png" alt="Linktree icon" title="Linktree - All Tylepathy Links "/>
      </a>
      <a href="https://www.facebook.com/tylepathy.music" target="_blank" rel="nofollow noreferer noopener">
        <img class="social-icons" src="assets/facebook-icon-white.svg" alt="Facebook icon" title="Facebook - Tylepathy"/>
      </a>
      <a href="https://twitter.com/tylepathy" target="_blank" rel="nofollow noreferer noopener">
        <img class="social-icons" src="assets/twitter-icon-white.svg" alt="Twitter icon" title="Twitter - Tylepathy"/>
      </a>
      <a href="https://www.instagram.com/tylepathy" target="_blank" rel="nofollow noreferer noopener">
        <img class="social-icons" src="assets/instagram-icon-white.png" alt="Instagram icon" title="Instagram - Tylepathy"/>
      </a>
    </div>
    <!-- <hr /> -->
    <div class="copyright-row">
    Copyright &copy; {{ copyrightYear }} Tylepathy
  </div>
  </div>
  <div
    id="site-credits"
    style="display:none;text-align:center;margin-bottom: 15px;"
  >
    Website development led by William Tyler Pelt of
    <a
      href="https://digitalmetta.com/"
      target="_blank"
      rel="nofollow noreferer noopener"
      style="text-decoration:underline;"
      >Digital Metta LLC.</a
    >
  </div>
</footer>
