<footer>
  <div class="footer-copyright">
    <div class="social-row-footer">
      <a href="mailto:tylepathy@gmail.com">
        <img
          class="email-icon social-icons"
          src="assets/envelope-closed.svg"
          alt="email icon"
      /></a>
      <a href="https://www.facebook.com/tylepathy.music" target="_blank" rel="nofollow noreferer noopener">
        <img class="social-icons" src="assets/flogo-HexRBG-Wht-114.svg" alt="facebook icon" />
      </a>
      <a href="https://twitter.com/tylepathy" target="_blank" rel="nofollow noreferer noopener">
        <img class="social-icons" src="assets/twitter-icon.svg" alt="twitter icon" />
      </a>
      <a href="https://www.instagram.com/tylepathy" target="_blank" rel="nofollow noreferer noopener">
        <img class="social-icons" src="assets/In-White-128px-TM.png" alt="instagram icon" />
      </a>
    </div>
    <hr />
    <div class="copyright-row">
    Copyright &copy; {{ copyrightYear }} Tylepathy
  </div>
  </div>
  <div
    id="site-credits"
    style="display:none;text-align:center;margin-bottom: 15px;"
  >
    Website development led by William Tyler Pelt of
    <a
      href="https://digitalmetta.com/"
      target="_blank"
      rel="nofollow noreferer noopener"
      style="text-decoration:underline;"
      >Digital Metta LLC.</a
    >
  </div>
</footer>
