.album-iframe {
  width: 500px;
}

.social-row-footer a {
  margin: 0 15px 0 15px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

hr {
  width: 100%;
  margin-top: 35px;
}

.div {
  pointer-events: none;
}

body {
  width: 100%;
  height: auto;
  display: inline-flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#music-section {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
}

label {
  cursor: zoom-in;
}

#header {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 150px;
  background-color: transparent;
  position: fixed;
  z-index: 10;
}

p {
  margin: 0;
}

.logo-imgs {
  width: 100px;
  max-width: 100px;
  height: auto;
  pointer-events: none;
}

.logo-img-wrap {
  border: 5px solid #353a40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  pointer-events: auto;
  transition: all 0.1s ease-out;

  &:hover,
  :focus {
    filter: none;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

body {
  background-color: black;
}

.logo-img-wrap {
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  border-radius: 5px;
  box-shadow: 6px 8px 14px #000;
}

.music-list-wrap {
  column-count: 1;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
}

#header {
  position: absolute;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  #music-section {
    flex-direction: column;
    display: flex;
  }

}

#header {
  position: absolute;
}

.music-list-wrap {
  column-count: 1;
  flex-direction: row;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
}

#music-section {
  flex-direction: column;
  display: flex;
  top: 50px;
  width: 100%;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  #music-section {
    flex-direction: column;
    display: flex;
    width: 100%;
  }

  #header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .music-list-wrap {
    column-count: 1;
    flex-direction: row;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

  #music-section {
    flex-direction: column;
    display: flex;
    top: 0;
    width: 100%;
    margin-top: 35px;
  }

  #header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  #music-section {
    flex-direction: column;
    display: flex;
    top: 50px;
    width: 100%;
    margin-top: 0;
  }

  .music-list-wrap {
    column-count: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;
  }

}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  #music-section {
    flex-direction: column;
    display: flex;
    top: 50px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  footer {
    top: 100px;
  }

  #header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .music-list-wrap {
    column-count: 1;
  }

  .music-list-wrap {
    column-count: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;
  }
}

@media only screen and (max-width: 568px) and (orientation: portrait) {
  #header {
    width: 100vw;
    height: 100px;
    display: flex;
  }
}

@media only screen and (max-width: 823px) and (orientation: landscape) {
  .music-list-wrap {
    column-count: 1;
  }

}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .music-list-wrap {
    column-count: 1;
  }

}

@media only screen and (max-width: 149px) {
  .logo-imgs {
    transform: scale(0.5);
  }

  .logo-img-wrap {
    width: 75px;
    height: 75px;
  }

  #header {
    height: 75px;
  }

  .music-list-wrap {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 124px) {
  .logo-imgs {
    transform: scale(0.3);
  }

  .logo-img-wrap {
    width: 60px;
    height: 60px;
  }

  #header {
    height: 45px;
  }

  .music-list-wrap {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1025px) and (orientation: landscape) {
  .music-list-wrap {
    column-count: 1;
    flex-direction: row;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  hr {
    width: 90%;
  }
}

body {
  color: #fff;
}

a {
  color: #befcdf;

  &:focus,
  :hover {
    color: #f1edd5;
    text-decoration: underline;
  }
}

.navbar-nav>li a {
  border-radius: 4px;
}

@media (min-width: 768px) {
  .navbar-nav>li {
    padding-top: 5px;
  }
}

hr {
  border: none;
}

.navbar {
  width: 100%;
}

a {
  color: #00b7ff;
}

.container {
  display: inline-block;
  padding: 0;
}

.music-list-wrap {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .logo-img-wrap {
    margin: 0;
  }
}

hr {
  display: block;

  margin: {
    top: 0.5em;
    bottom: 0.5em;
    left: auto;
    right: auto;
  }

  border-style: inset;
  border-width: 1px;
  box-shadow: 0 0 3px #fff;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .social-row-footer a {
    margin: 0 5px 0 5px;
  }
}

.web-subsect-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #fff;
}

.navbar-default {
  background: none;
  border: none;
}

*::selection {
  background: #9ba0a5;
}

img::selection {
  background: transparent;
}

.footer-copyright {
  letter-spacing: 0.05em;
}

.social-icons {
  width: 30px;
  height: auto;

  &:hover {
    opacity: 0.7;
  }
}

.social-row-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.email-icon {
  border-radius: 5px;
}

.web-sub-section-v1 h3,
.web-sub-section-v1 h4 {
  text-align: center;
}

.web-sub-section-v2 h3,
.web-sub-section-v2 h4 {
  text-align: center;
}

.site-logo-v2 {
  width: 50px;
  height: 50px;

  background: {
    size: contain;
    repeat: no-repeat;
    image: url("./assets/tylepathy-rainbow-logo-small.png");
  }

  transition: all 0.2s ease;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.9);
  }
}

.navbar>.container a.navbar-brand:focus {
  outline: none;
  box-shadow: 0.1px 0.1px 15px #fff;
  border-radius: 100%;
}

.social-row-footer a {
  outline: none;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  width: 50px;
  height: 50px;

  &:focus {
    transform: scale(1.1);
  }
}

#web-sub-sect {
  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  .music-list-wrap {
    flex-wrap: wrap;
  }
}

.web-sub-sect a:focus {
  outline: 3px auto #fff;
}


h4 {
  display: block;

  margin: {
    block-start: 0.2em;
    block-end: 0.2em;
  }
}

h2 {
  display: block;
  font-size: 1.4em;
  margin-block-start: 0.6em;
  margin-block-end: 0.2em;
}


app-root {
  width: 100vw;
}

.album-section {
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 70vh;
}

.album-section-home {
  min-height: unset;
}

.album-iframe {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 10px 8px #000;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.web-subsect-col {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  padding: 5px;
  filter: grayscale(0.5);
}

.web-subsect-col:hover {
  filter: grayscale(0);
}

.sndClickLink {
  border: solid 1px #d6d6eb;
  background-color: #000000cc;
  padding: 7px 15px 4px 15px;
  font-weight: 400;
  border-radius: 10px;
  font-size: 1.1em;
  color: #c8c8c8;
  box-shadow: 5px 10px 8px #000;
  text-decoration: none;
  text-transform: uppercase;
}

.sndClickLink:hover {
  color: #aaa7bf;
  background-color: #222;
}

.logo-imgs {
  width: 100px;
  max-width: 100px;
  height: 100px;
  pointer-events: none;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .web-subsect-col {
    padding: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .album-iframe {
    width: 90vw;
  }

}


@media only screen and (max-width: 250px) {
  .music-list-wrap {
    flex-direction: column;
  }
}

.active .logo-img-wrap {
  background-color: #c2cedd !important;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .web-subsect-col {
    padding: 5px;
  }

  .logo-imgs {
    width: 100px;
    max-width: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .web-subsect-col {
    padding: 5px;
  }

  .logo-imgs {
    width: 80px;
    max-width: 80px;
    height: 80px;
  }
}

.album-player-img {
  width: 500px;
  height: 500px;
  border: solid 5px;
  border-color: #303030;

  background: {
    size: contain;
    repeat: no-repeat;
  }

  box-shadow: 5px 10px 8px #000;
}

.spotify-tylepathy-preview {
  width: 509px;
}

// .spotify-playlist-iframe{
//   height: 2480px;
// }




// @media only screen and (orientation: landscape) and (max-width: 1023px) {
//   .spotify-tylepathy-preview {
//     width: 90vw;
//   }
// }

@media only screen and (orientation: landscape) and (max-width: 767px) {
  .spotify-tylepathy-preview {
    width: 80vw;
  }
}


@media only screen  and (orientation: portrait) and (max-width: 500px) {
  .album-player-img {
    width: 90vw;
    height: 90vw;
  }

  .spotify-tylepathy-preview {
    width: 80vw;
  }
}


.logo-imgs {
  background-size: contain;
}

@media only screen and (min-width: 768px) {
  .album-one-player-img {
    background: {
      image: url("./assets/album-one-artwork-medium.jpg");
    }
  }

  .album-two-player-img {
    background: {
      image: url("./assets/album-two-artwork-medium.jpg");
    }
  }

  .album-three-player-img {
    background: {
      image: url("./assets/album-three-artwork-medium.jpg");
    }
  }

  .album-four-player-img {
    background: {
      image: url("./assets/album-four-artwork-medium.jpg");
    }
  }

  .album-five-player-img {
    background: {
      image: url("./assets/album-five-artwork-medium.jpg");
    }
  }

  .album-six-player-img {
    background: {
      image: url("./assets/album-six-artwork-medium.jpg");
    }
  }

  .album-seven-player-img {
    background: {
      image: url("./assets/album-seven-artwork-medium.jpg");
    }
  }

  .album-eight-player-img {
    background: {
      image: url("./assets/album-eight-artwork-medium.jpg");
    }
  }

  .album-nine-player-img {
    background: {
      image: url("./assets/album-nine-artwork-medium.jpg");
    }
  }

  .album-ten-player-img {
    background: {
      image: url("./assets/album-ten-artwork-medium.jpg");
    }
  }

  .album-eleven-player-img {
    background: {
      image: url("./assets/album-eleven-artwork-medium.jpg");
    }
  }

  .album-twelve-player-img {
    background: {
      image: url("./assets/album-twelve-artwork-medium.jpg");
    }
  }

  .album-13-player-img {
    background: {
      image: url("./assets/album-13/album-13-artwork-medium.jpg");
    }
  }

  .album-14-player-img {
    background: {
      image: url("./assets/album-14/album-14-artwork-medium.jpg");
    }
  }

  .album-15-player-img {
    background: {
      image: url("./assets/album-15/album-15-artwork-medium.jpg");
    }
  }

  .album-16-player-img {
    background: {
      image: url("./assets/album-16/album-16-artwork-medium.jpg");
    }
  }

  .album-17-player-img {
    background: {
      image: url("./assets/album-17/album-17-artwork-medium.jpg");
    }
  }

  .album-18-player-img {
    background: {
      image: url("./assets/album-18/album-18-artwork-medium.jpg");
    }
  }


  .logo-img-album-one {
    background: {
      image: url("./assets/album-one-artwork-small.jpg");
    }
  }

  .logo-img-album-two {
    background: {
      image: url("./assets/album-two-artwork-small.jpg");
    }
  }

  .logo-img-album-three {
    background: {
      image: url("./assets/album-three-artwork-small.jpg");
    }
  }

  .logo-img-album-four {
    background: {
      image: url("./assets/album-four-artwork-small.jpg");
    }
  }

  .logo-img-album-five {
    background: {
      image: url("./assets/album-five-artwork-small.jpg");
    }
  }

  .logo-img-album-six {
    background: {
      image: url("./assets/album-six-artwork-small.jpg");
    }
  }

  .logo-img-album-seven {
    background: {
      image: url("./assets/album-seven-artwork-small.jpg");
    }
  }

  .logo-img-album-eight {
    background: {
      image: url("./assets/album-eight-artwork-small.jpg");
    }
  }

  .logo-img-album-nine {
    background: {
      image: url("./assets/album-nine-artwork-small.jpg");
    }
  }

  .logo-img-album-ten {
    background: {
      image: url("./assets/album-ten-artwork-small.jpg");
    }
  }

  .logo-img-album-eleven {
    background: {
      image: url("./assets/album-eleven-artwork-small.jpg");
    }
  }

  .logo-img-album-twelve {
    background: {
      image: url("./assets/album-twelve-artwork-small.jpg");
    }
  }

  .logo-img-album-13 {
    background: {
      image: url("./assets/album-13/album-13-artwork-small.jpg");
    }
  }

  .logo-img-album-14 {
    background: {
      image: url("./assets/album-14/album-14-artwork-small.jpg");
    }
  }

  .logo-img-album-15 {
    background: {
      image: url("./assets/album-15/album-15-artwork-small.jpg");
    }
  }

  .logo-img-album-16 {
    background: {
      image: url("./assets/album-16/album-16-artwork-small.jpg");
    }
  }

  .logo-img-album-17 {
    background: {
      image: url("./assets/album-17/album-17-artwork-small.jpg");
    }
  }

  .logo-img-album-18 {
    background: {
      image: url("./assets/album-18/album-18-artwork-small.jpg");
    }
  }

  .album-one-bg-img {
    background: {
      image: url("./assets/album-one-artwork-large-cropped.jpg");
    }
  }

  .album-two-bg-img {
    background: {
      image: url("./assets/album-two-artwork-large-cropped.jpg");
    }
  }

  .album-three-bg-img {
    background: {
      image: url("./assets/album-three-artwork-large-cropped.jpg");
    }
  }

  .album-four-bg-img {
    background: {
      image: url("./assets/album-four-artwork-large-cropped.jpg");
    }
  }

  .album-five-bg-img {
    background: {
      image: url("./assets/album-five-artwork-large-cropped.jpg");
    }
  }

  .album-six-bg-img {
    background: {
      image: url("./assets/album-six-artwork-large-cropped.jpg");
    }
  }

  .album-seven-bg-img {
    background: {
      image: url("./assets/album-seven-artwork-large-cropped.jpg");
    }
  }

  .album-eight-bg-img {
    background: {
      image: url("./assets/album-eight-artwork-large-cropped.jpg");
    }
  }

  .album-nine-bg-img {
    background: {
      image: url("./assets/album-nine-artwork-large-cropped.jpg");
    }
  }

  .album-ten-bg-img {
    background: {
      image: url("./assets/album-ten-artwork-large-cropped.jpg");
    }
  }

  .album-eleven-bg-img {
    background: {
      image: url("./assets/album-eleven-artwork-large-cropped.jpg");
    }
  }

  .album-twelve-bg-img {
    background: {
      image: url("./assets/album-twelve-artwork-large-cropped.jpg");
    }
  }

  .album-13-bg-img {
    background: {
      image: url("./assets/album-13/album-13-artwork-large-cropped.jpg");
    }
  }

  .album-14-bg-img {
    background: {
      image: url("./assets/album-14/album-14-artwork-large-cropped.jpg");
    }
  }

  .album-15-bg-img {
    background: {
      image: url("./assets/album-15/album-15-artwork-large-cropped.jpg");
    }
  }

  .album-16-bg-img {
    background: {
      image: url("./assets/album-16/album-16-artwork-large-cropped.jpg");
    }
  }

  .album-17-bg-img, .music-bg-img-all {
    background: {
      image: url("./assets/album-17/album-17-artwork-large-cropped.jpg");
    }
  }

  .album-18-bg-img {
    background: {
      image: url("./assets/album-18/album-18-artwork-large-cropped.jpg");
    }
  }

  // ABOUT
  .tylepathy-about-img {
    background: {
      image: url("./assets/about-tylepathy-v3-large.jpg");
    }
  }
}

@media only screen and (max-width: 767px) {
  .album-one-player-img {
    background: {
      image: url("./assets/album-one-artwork-medium.jpg");
    }
  }

  .album-two-player-img {
    background: {
      image: url("./assets/album-two-artwork-medium.jpg");
    }
  }

  .album-three-player-img {
    background: {
      image: url("./assets/album-three-artwork-medium.jpg");
    }
  }

  .album-four-player-img {
    background: {
      image: url("./assets/album-four-artwork-medium.jpg");
    }
  }

  .album-five-player-img {
    background: {
      image: url("./assets/album-five-artwork-medium.jpg");
    }
  }

  .album-six-player-img {
    background: {
      image: url("./assets/album-six-artwork-medium.jpg");
    }
  }

  .album-seven-player-img {
    background: {
      image: url("./assets/album-seven-artwork-medium.jpg");
    }
  }

  .album-eight-player-img {
    background: {
      image: url("./assets/album-eight-artwork-medium.jpg");
    }
  }

  .album-nine-player-img {
    background: {
      image: url("./assets/album-nine-artwork-medium.jpg");
    }
  }

  .album-ten-player-img {
    background: {
      image: url("./assets/album-ten-artwork-medium.jpg");
    }
  }

  .album-eleven-player-img {
    background: {
      image: url("./assets/album-eleven-artwork-medium.jpg");
    }
  }

  .album-twelve-player-img {
    background: {
      image: url("./assets/album-twelve-artwork-medium.jpg");
    }
  }

  .album-13-player-img {
    background: {
      image: url("./assets/album-13/album-13-artwork-medium.jpg");
    }
  }

  .album-14-player-img {
    background: {
      image: url("./assets/album-14/album-14-artwork-medium.jpg");
    }
  }

  .album-15-player-img {
    background: {
      image: url("./assets/album-15/album-15-artwork-medium.jpg");
    }
  }

  .album-16-player-img {
    background: {
      image: url("./assets/album-16/album-16-artwork-medium.jpg");
    }
  }

  .album-17-player-img {
    background: {
      image: url("./assets/album-17/album-17-artwork-medium.jpg");
    }
  }

  .album-18-player-img {
    background: {
      image: url("./assets/album-18/album-18-artwork-medium.jpg");
    }
  }

  .logo-img-album-one {
    background: {
      image: url("./assets/album-one-artwork-xs.jpg");
    }
  }

  .logo-img-album-two {
    background: {
      image: url("./assets/album-two-artwork-xs.jpg");
    }
  }

  .logo-img-album-three {
    background: {
      image: url("./assets/album-three-artwork-xs.jpg");
    }
  }

  .logo-img-album-four {
    background: {
      image: url("./assets/album-four-artwork-xs.jpg");
    }
  }

  .logo-img-album-five {
    background: {
      image: url("./assets/album-five-artwork-xs.jpg");
    }
  }

  .logo-img-album-six {
    background: {
      image: url("./assets/album-six-artwork-xs.jpg");
    }
  }

  .logo-img-album-seven {
    background: {
      image: url("./assets/album-seven-artwork-xs.jpg");
    }
  }

  .logo-img-album-eight {
    background: {
      image: url("./assets/album-eight-artwork-xs.jpg");
    }
  }

  .logo-img-album-nine {
    background: {
      image: url("./assets/album-nine-artwork-xs.jpg");
    }
  }

  .logo-img-album-ten {
    background: {
      image: url("./assets/album-ten-artwork-xs.jpg");
    }
  }

  .logo-img-album-eleven {
    background: {
      image: url("./assets/album-eleven-artwork-xs.jpg");
    }
  }

  .logo-img-album-twelve {
    background: {
      image: url("./assets/album-twelve-artwork-xs.jpg");
    }
  }

  .logo-img-album-13 {
    background: {
      image: url("./assets/album-13/album-13-artwork-xs.jpg");
    }
  }

  .logo-img-album-14 {
    background: {
      image: url("./assets/album-14/album-14-artwork-xs.jpg");
    }
  }

  .logo-img-album-15 {
    background: {
      image: url("./assets/album-15/album-15-artwork-xs.jpg");
    }
  }

  .logo-img-album-16 {
    background: {
      image: url("./assets/album-16/album-16-artwork-xs.jpg");
    }
  }

  .logo-img-album-17 {
    background: {
      image: url("./assets/album-17/album-17-artwork-xs.jpg");
    }
  }

  .logo-img-album-18 {
    background: {
      image: url("./assets/album-18/album-18-artwork-xs.jpg");
    }
  }

  .album-one-bg-img {
    background: {
      image: url("./assets/album-one-artwork-medium-cropped.jpg");
    }
  }

  .album-two-bg-img {
    background: {
      image: url("./assets/album-two-artwork-medium-cropped.jpg");
    }
  }

  .album-three-bg-img {
    background: {
      image: url("./assets/album-three-artwork-medium-cropped.jpg");
    }
  }

  .album-four-bg-img {
    background: {
      image: url("./assets/album-four-artwork-medium-cropped.jpg");
    }
  }

  .album-five-bg-img {
    background: {
      image: url("./assets/album-five-artwork-medium-cropped.jpg");
    }
  }

  .album-six-bg-img {
    background: {
      image: url("./assets/album-six-artwork-medium-cropped.jpg");
    }
  }

  .album-seven-bg-img {
    background: {
      image: url("./assets/album-seven-artwork-medium-cropped.jpg");
    }
  }

  .album-eight-bg-img {
    background: {
      image: url("./assets/album-eight-artwork-medium-cropped.jpg");
    }
  }

  .album-nine-bg-img {
    background: {
      image: url("./assets/album-nine-artwork-medium-cropped.jpg");
    }
  }

  .album-ten-bg-img {
    background: {
      image: url("./assets/album-ten-artwork-medium-cropped.jpg");
    }
  }

  .album-eleven-bg-img {
    background: {
      image: url("./assets/album-eleven-artwork-medium-cropped.jpg");
    }
  }

  .album-twelve-bg-img {
    background: {
      image: url("./assets/album-twelve-artwork-medium-cropped.jpg");
    }
  }

  .album-13-bg-img {
    background: {
      image: url("./assets/album-13/album-13-artwork-medium-cropped.jpg");
    }
  }

  .album-14-bg-img {
    background: {
      image: url("./assets/album-14/album-14-artwork-medium-cropped.jpg");
    }
  }

  .album-15-bg-img {
    background: {
      image: url("./assets/album-15/album-15-artwork-medium-cropped.jpg");
    }
  }

  .album-16-bg-img {
    background: {
      image: url("./assets/album-16/album-16-artwork-medium-cropped.jpg");
    }
  }

  .album-17-bg-img, .music-bg-img-all {
    background: {
      image: url("./assets/album-17/album-17-artwork-medium-cropped.jpg");
    }
  }

  .album-18-bg-img {
    background: {
      image: url("./assets/album-18/album-18-artwork-medium-cropped.jpg");
    }
  }


  #tracklist li .tracktime {
    font-size: 14px !important;
  }

  .tylepathy-about-img {
    background: {
      image: url("./assets/about-tylepathy-v3-small.jpg");
    }
  }
}

body {
  will-change: transform;
}

.featured-title {
  font-size: 1.3em;
  font-weight: 900;
  width: 500px;
  background-color: #303030;
  height: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  .featured-title {
    width: 90vw;
  }
}

.logo-img-wrap.active {
  border-color: whitesmoke;
}

@media only screen and (max-width: 350px) and (orientation: portrait) {
  .facebook-feed {
    width: 300px;
  }
}

.album-video-div {
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .album-video-iframe {
    width: 90vw;
  }
}

.light-color-link:hover {
  color: #f1edd5
}

.navbar {
  padding: 0.5rem 1rem;
}

.album-video-div iframe {
  border-radius: 15px;
  box-shadow: 5px 10px 8px #000;
}

@media only screen and (min-width: 1150px) {
  .album-video-iframe {
  margin-right: 1rem;
  margin-bottom: 0;
  }
}

@media only screen and (max-width: 1149px) {
  .album-video-iframe {
  margin-right: 0;
  margin-bottom: 1rem;
  }
}


.album-video-div iframe .theme-dark #nonartarea {
  background-color: #011a2e;
}

body {
  font-family: 'Gruppo', cursive;
  letter-spacing: .5px;
}

// .social-row-footer a,
// .sndClickLink {
//   cursor: alias;
// }

.sndClickLink{
  margin-top: 0.5rem;
}
