<div class="web-subsect-col">
  <div class="web-sub-section-v2 web-sub-sect">
    <iframe style="border: 0; width: 100%; height: 406px;" src="https://bandcamp.com/EmbeddedPlayer/album=369391426/size=large/bgcol=181a1b/linkcol=056cc4/artwork=none/transparent=true/" seamless><a href="https://liquidbloom.bandcamp.com/album/tylepathy-remixes-one-with-nature">Tylepathy Remixes - One With Nature by Liquid Bloom, Tylepathy</a></iframe>   <div
      style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
     </div>
  </div>
</div>
