<div class="album-section">
  <div class="album-video-div">
    <iframe class="album-video-iframe" width="560" height="315"
      src="https://www.youtube.com/embed/h0tl01Ot9Us?rel=0&color=1" title="YouTube video player" frameborder="1"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      referrerpolicy="strict-origin-when-cross-origin"></iframe>
  </div>
  <div class="album-four-player-img album-player-img">
  </div>
  <div class="web-sub-section-v2 web-sub-sect">
    <iframe class="album-iframe" style="border: 0; height: 120px;"
      src="https://bandcamp.com/EmbeddedPlayer/track=2317087772/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/artwork=none/transparent=true/"
      seamless title="Dreamstep Lovescape by Tylepathy - Bandcamp Player"><a href="https://tylepathy.bandcamp.com/track/dreamstep-lovescape">Dreamstep Lovescape by
        Tylepathy</a></iframe>
  </div>
  <a class="sndClickLink" href="https://snd.click/5wggu" target="_blank" rel="nofollow noreferer noopener">
    {{ otherPlatformsButtonText }}
  </a>
</div>
