<div class="album-section">
  <div class="album-video-div">
    <iframe class="album-video-iframe" width="560" height="315" src="https://www.youtube.com/embed/LAa92uNOMuM?rel=0&color=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="album-two-player-img album-player-img">
  </div>
  <div class="web-sub-section-v1 web-sub-sect">
      <iframe class="album-iframe" style="border: 0; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=1218944753/size=large/bgcol=181a1b/linkcol=056cc4/artwork=none/transparent=true/" seamless>
        <a href="https://liquidbloom.bandcamp.com/album/regen-ambient-meditations-2">ReGen: Ambient Meditations by Liquid Bloom</a>
      </iframe>
  </div>
  <a class="sndClickLink" href="https://bit.ly/liquidbloommeditations" target="_blank" rel="nofollow noreferer noopener">
    Listen on other platforms </a>
</div>
