<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <div class="album-video-div">
        <iframe width="560" height="315" class="album-video-iframe"
          src="https://www.youtube-nocookie.com/embed/-X63kIt3kNQ?si=6lN3Q9XTyIifOVX2?rel=0&color=1"
          title="YouTube video player" frameborder="1"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="album-14-player-img album-player-img">
      </div>
      <div class="web-sub-section-v2 web-sub-sect">

        <iframe class="album-iframe" style="border: 0; height: 364px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=2187803098/size=large/bgcol=333333/linkcol=0f91ff/artwork=none/track=3760380455/transparent=true/"
          seamless title="Forest Guardians Remixed by Liquid Bloom - Bandcamp Player"><a href="https://liquidbloom.bandcamp.com/album/forest-guardians-remixed">Forest Guardians Remixed by
            Liquid Bloom, Bloomurian, Onanya</a></iframe>

      </div>
      <a class="sndClickLink" href="https://fanlink.tv/forestguardiansremixed" target="_blank"
        rel="nofollow noreferer noopener">
        {{ otherPlatformsButtonText }}
      </a>
    </div>
  </div>

</div>
