<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="/" routerLinkActive="active" class="navbar-brand">
      <div class="site-logo-v2"></div>
    </a>
    <span class="mobile-page-title" style="font-weight: 400;">{{title}}</span>
  <button class="navbar-toggler hidden-md-up " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/music" routerLinkActive="active">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</nav>
