<div class="album-section">
  <div class="album-five-player-img album-player-img">
  </div>
  <div class="web-sub-section-v2 web-sub-sect">
    <iframe class="album-iframe" style="border: 0; height: 340px;" src="https://bandcamp.com/EmbeddedPlayer/album=2617925881/size=large/bgcol=181a1b/linkcol=056cc4/artwork=none/transparent=true/" seamless><a href="https://desertdwellersmusic.bandcamp.com/album/one-giant-consciousness">One Giant Consciousness by Desert Dwellers</a></iframe>
  </div>
  <a class="sndClickLink" href="https://snd.click/OneGiantConsciousness" target="_blank" rel="nofollow noreferer noopener">
    Listen on other platforms </a>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aPnwVP9rBEM?rel=0&color=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
