<div class="album-section">
  <span class="featured-title">
    <a class="sndClickLink" href="https://snd.click/OneGiantConsciousness" target="_blank" rel="nofollow noreferer noopener">
      Pre-save & pre-order</a>
  </span>

  <div class="album-five-player-img album-player-img">
  </div>
  <div class="web-sub-section-v2 web-sub-sect">
      <!-- <iframe class="album-iframe" style="border: 0; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=2317087772/size=large/bgcol=181a1b/linkcol=056cc4/tracklist=false/artwork=none/transparent=true/" seamless>
        <a href="https://tylepathy.bandcamp.com/track/dreamstep-lovescape">Dreamstep Lovescape by Tylepathy</a></iframe> -->
  </div>

</div>
