<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <div class="album-video-div">
        <iframe class="album-video-iframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/40Vaxibpxjo?si=u2lofuVv2ilx6elx&rel=0&color=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="album-17-player-img album-player-img">
      </div>
      <div class="web-sub-section-v2 web-sub-sect">
        <iframe class="album-iframe" style="border: 0; height: 120px;"
          src="https://bandcamp.com/EmbeddedPlayer/track=2827097780/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/artwork=none/transparent=true/"
          seamless><a href="https://liquidbloom.bandcamp.com/track/ripples-through-time-haquin-revibe">Ripples Through
            Time (Haquin Revibe) by Liquid Bloom, Tylepathy, Divasonic, Haquin</a></iframe>
      </div>
      <a class="sndClickLink" href="https://snd.click/rippleshaquin" target="_blank" rel="nofollow noreferer noopener">
        {{ otherPlatformsButtonText }}
      </a>
    </div>
  </div>

</div>