<div class="music-page">
  <div class="latest-release">
    <div class="album-section">
      <!-- <div class="album-video-div">
      </div> -->
      <a href="https://highviberecords.fanlink.tv/CestySnu" target="_blank" rel="nofollow noreferer noopener">
        <div class="album-17-player-img album-player-img">
        </div>
      </a>
      <div class="web-sub-section-v2 web-sub-sect">
      </div>
      <a class="sndClickLink" href="https://highviberecords.fanlink.tv/CestySnu" target="_blank"
      rel="nofollow noreferer noopener">
       Pre save on Spotify
    </a>
    </div>
  </div>

</div>
