.about-page{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
}

.featured-release{
  text-align: center;
}

.tylepathy-about-img{
  width: 500px;
  height: 500px;
  max-width: 500px;
  border: solid 5px #06243bcf;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 8px #000;
}

@media only screen and (max-width: 500px){
  .tylepathy-about-img{
    width: 90vw;
    height:90vw;
  }
}

.about-write-up{
  padding-top: 25px;
  max-width: 1000px;
  font-weight: 400;
  font-size: larger;
  padding: 25px;
  background-color: #06243bdb;
  box-shadow: 5px 5px 8px #000;
}

@media only screen and (min-width: 628px){
  .about-write-up{
    border-radius: 15px;
    text-transform: none;
  }
}

.about-para{
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 50px;
}

.featured-title {
  background-color: #06243bcf;
}
