<div class="about-page">
  <span  class="featured-title">Hi, I'm Tylepathy</span>

  <div class="tylepathy-about-img">
  </div>
  <div class="about-write-up">
    <p class="about-para">
  "As we are whisked from one elemental landscape to another, we are reminded of the power of the mind to shape supportive spaces with even the most subtle of inspirations,
  making ‘One With Nature’ not only a potent tool for meditation and personal healing, but a testament to the vast and creative forces of human consciousness." - SoundScrybe
</p>
<p class="about-para">I'm Tylepathy (William Tyler Pelt of Tallahassee, Florida).
Lately, I've been focused on sculpting
    globally-influenced musical artwork to entrance listeners with cosmic healing journeys of vibrational
    sound waves that wrap around the soul with loving-kindness, flow through the mind with spiritual awakening,
    and rejuvenate the heart with divine rhythmic frequencies.</p>
    <p class="about-para">I've been producing music and learning to play instruments (mainly percussion) since 2000.
  I've worked closely with a few well-known artists including George Clinton (engineering on
  several tracks for Funkadelic with official mixing credits for the songs Yellow Light and Mathematics of Love),
  and more recently producing remixes with Amani Friend of Liquid Bloom and the Desert Dwellers.</p>
  <p class="about-para">I hope your life is enhanced by what you hear. Peace and blessings to you and yours.</p>
</div>
</div>
