.about-page{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.featured-release{
  text-align: center;
}

.tylepathy-about-img{
  width: 500px;
  height: 500px;
  max-width: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-device-width: 500px){
  .tylepathy-about-img{
    width: 90vw;
    height:90vw;
  }
}

.about-write-up{
  padding-top: 25px;
  max-width: 1000px;
  font-weight: 400;
  padding: 25px;
  background-color: #31304ec2;
}
.about-para{
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 50px;
}

.featured-title {
  background-color: #31304ec2;
}
